!!!
%html
  %head
    %title Trellight
    = csrf_meta_tags
    = csp_meta_tag
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "sessionid", content: generate_session_id}
    = javascript_pack_tag    'application'
    = javascript_include_tag "https://use.fontawesome.com/releases/v5.3.1/js/all.js", defer: true
  %body
    = yield
